<h1>Editing team</h1>

<%= render 'teamform' %>

<%= button_to 'Remove This Team',
                      grouping_team_path,
		      method: :delete,
		      grouping_id: @grouping_id,
		      id: @team.id %>

<%= link_to 'Back to Team List', grouping_teams_path %>
