<h1>All Brackets</h1>

<table>
  <thead>
    <tr>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @brackets.each do |bracket| %>
      <tr>
        <td>
	<%= link_to bracket.fullname, bracket_path(bracket) %>
	<%= select_tag('pcode', options_for_select(bracket.all_participant_codes())) if 
	     bracket.all_subgroupings.select{|sg|sg.has_teams?}.count>0 %>...
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

