<h1>Welcome to Online-Scoreboard.net!</h1>

<p>
<%= @recipient %>,
welcome to Online-Scoreboard.net! This is the place where you can manage schedules, post results, and keep teams and fans informed with up to the minute scores and schedules. 
</p>

<p>
Use this <a href="<%= @url %>">link</a> to go to the <%= @type %> page.
</p>

<p>
(You might want to bookmark that one.) 
</p>

<p>
Welcome aboard! 
</p>
