<h1>Welcome to Online-Scoreboard.net!</h1>

<p><%= @recipient %>,</p>
<p>Welcome to Online-Scoreboard.net! This is the place where you can manage schedules, post results, and keep teams and fans informed with up to the minute scores and schedules. 
Managing your Competition is really pretty easy.  On the Manager pages you will find links to help you take care of every aspect of managing the <%= @competition.fullname() %>.
</p>

<p>
Use this <a href="<%= @url %>" target="_blank">link</a> to go to the Manager&apos;s page.
  You will need to contact someone at <b><%= @competition.organization.name() %></b>
  for the password, if there is one.
</p>

<p>
(You might want to bookmark that link.) 
</p>

<p>
Welcome aboard! 
</p>
