<h1>Welcome to Online-Scoreboard.net!</h1>

<p><%= @recipient %>,</p>
<p>Welcome to Online-Scoreboard.net!  This is the place where you can keep informed with up to the minute standings, schedules, and scores for the <%= @competition.fullname() %>.
</p>

<p>
Use this <a href="<%= @url %>" target="_blank">link</a> to go to the Fan&apos;s page.  You will find everything you need there.
</p>

<p>
(You might want to bookmark that link.) 
</p>

<p>
Welcome aboard! 
</p>
