<h1>Groupings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupings.each do |grouping| %>
      <tr>
        <td><%= link_to grouping.name, edit_grouping_path(grouping) if grouping.parent_id %></td>
        <td><%= Grouping.find(grouping.parent_id).name if grouping.parent_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grouping', new_grouping_path %>
