<h1>All Bracketgroupings</h1>

<table>
  <thead>
    <tr>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @bracketgroupings.each do |bracketgrouping| %>
      <tr>
        <td>
	<%= link_to bracketgrouping.fullname, bracketgrouping_path(bracketgrouping) %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

