<h1>All Bracketgroupings</h1>

<table>
  <thead>
    <tr>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @bracketgroupings.each do |bracketgrouping| %>
      <tr>
        <td>
	<%= link_to bracketgrouping.fullname, bracketgrouping_path(bracketgrouping) %>
	<%= select_tag('pcode', options_for_select(bracketgrouping.all_participant_codes())) if 
	     bracketgrouping.all_subgroupings.select{|sg|sg.has_teams?}.count>0 %>...
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

