
<h4><%=@bracket.numrounds() %> Rounds</h4>

      <!-- Show Each Bracket -->
    <% @brackets.each do |brckt| %>
<hr/>
<div class="bracket">
<%= raw(bc_to_div(brckt.terminalpairing)) %>
</div>
    <% end %>
