<h4>Standings</h4>

<table class="standings">
  <thead>
    <tr>
      <th>Team</th>
      <%= raw(@competition.result_headings.collect{|rh| raw(content_tag(:th, rh))}.join(" ") ) %>
    </tr>
  </thead>

 <tbody>
      <!-- Show sorted, unique Teams -->
    <% @groupingteams.sort{ |a,b| a.pct() <=> b.pct() }.reverse.each do |team| %>
      <tr>
        <td><%= link_to team.name, display_team_path(@competition.id, team.id) %></td>
      <%= raw(team.result_row(@competition).collect{|rr| raw(content_tag(:td, rr))}.join(" ") ) %>
      </tr>
    <% end %>
  </tbody>
</table>
