
<h4><%=@bracket.numrounds() %> Rounds</h4>
<hr/>

      <!-- Show Each Bracket -->
    <% @brackets.each do |brckt| %>
<div class="bracket">
<%= raw(bc_to_div(brckt.terminalpairing)) %>
</div>
    <% end %>
