      <!-- Show Each Bracket -->
  <% @terminalcontests.each do |brckt| %>
    <hr/> 
    <div class="bracket">
      <%= render partial: 'grouping_bracket_pair',
                          locals: { contest: brckt,
			               final: true,
	 		          roundnum: brckt.bracketdepth()} %>
    </div>
    <hr/>
  <% end %>
