<h4>Standings</h4>

<table class="standings">
  <thead>
    <tr>
      <th>Team</th>
      <%= standings_headers(@competition) %>
    </tr>
  </thead>

 <tbody>
      <!-- Show sorted, unique Teams -->
    <% @groupingteams.sort{ |a,b| @competition.compare_teams(a, b) }.each do |team| %>
      <tr>
        <td><%= link_to team.name, display_team_path(@competition.id, team.id) %></td>
      <%=  standings_row(@competition, team) %>
      </tr>
    <% end %>
  </tbody>
</table>
