
<h4><%=@bracket.numrounds() %> Rounds</h4>
<hr/><%= raw(bc_to_div(@bfirst)) %><hr/>


<% if @grouping.bracket_grouping %>

  <% priorcontests = Bracketcontestant.all.select{|bc| bc.contestanttype=="W"}.collect{|bc| bc.priorcontest} %> 

  <% (@bracketcontests-priorcontests).each do |bc| %> 
    <%= render partial: 'bracketcontests/bracket_contest' ,
		locals: { bracketcontest: bc, final: true, editable: false }  %>
    <br/>
   <% end %>
<% end # of if bracket_grouping ... %>
