<h1>Display#choose_competition</h1>
<p>Find me in app/views/display/choose_competition.html.erb</p>

<% Competition.all.each do |comp| %>
  <%= link_to [comp.name, comp.sport, comp.variety].join(" "),
                   "/competition/#{comp.id}/display" %>
  <br/>
<% end %>
