
<div class="sellist">
 <ul  class="sellist">
  <% Organization.all.select {|c| c.competitions.size()>0}.each do |org| %>
   <li class="sellist">
   <%= org.name %>

     <ul  class="sellist">
      <% org.competitions.all.each do |comp| %>
       <li class="sellist">
       <%= link_to [comp.name, comp.sport, comp.variety].join(" "),
                       display_competition_path(comp), class: "sellistlink" %>
        </li>
      <% end %>
       </ul>
       
    </li>
  <% end %>
   </ul>
</div>


