<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 strict//en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Welcome to Online-Scoreboard.net!!</title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet"
       type="text/css"
       href="./style/common.css">
 </head>
<body>
 <div class="container">
  <div class="mainContent">
   <div class="wrapper">
    <h1>Basketball Team and Fan Demo</h1>
   </div>
   <div class="wrapper">
    <h2>The Public View</h2>
   </div>
   <div class="wrapper">
    <p>Users view standings, scores, and schedules through pages
       which are easy to navigate. When you follow the link to
       the Demo, below, group names appear on the right. Click
       on a group name to show the Standings for teams in that
       group. Or click on the link for Scores or Schedules next
       to the group name to get the scores or the scheduled games
       for teams in that group. If you click on a team name,
       you get everything for that team. Go ahead, click on
       the Demo link below and give it a try! You can do it!</p>
   </div>
   <div class="wrapper">
    <p>The idea is for teams and their fans to be able
       to see what they want.</p>
   </div>
   <div class="wrapper">
    <p>As a bonus, at the bottom of an individual team's Standings,
       Scores and Schedule page is a link which goes to a page
       that allows people to sign up to get email or text alerts
       whenever that team's schedule changes or whenever a final
       score is entered for that team.</p>
   </div>
   <div class="wrapper">
    <p><a href="./display/perform.pl?compid=bbdemo"
        target="_blank">Show Me the Demo</a></p>
   </div>
  </div> <!-- end of mainContent div -->

  <div class="sideMatter">
   <div class="navPanel">
    <ul class="nav1">
     <li class="nav level1">
       <a class="nav" href="./index.html">Home</a></li>
     <li class="nav level1">
       <a class="nav" href="./whatWeDo.html">What we Do and How we Help</a></li>
     <li class="nav level1">
       <a class="nav" href="./seeDemo.html">See a Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./bbOrgDemo.html">Basketball Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav current" href="./bbFanDemo.html">Basketball Team/Fan Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soOrgDemo.html">Soccer Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soFanDemo.html">Soccer Team/Fan Demo</a></li>
     <li class="nav level1">
       <a class="nav" href="./ourTeam.html">Our Team</a></li>
     <li class="nav level1">
       <a class="nav" href="./contactUs.html">Contact Us</a></li>
    </ul>
   </div>
   <div class="wrapper">
    <p>Returning Customers:
     <a class="loginLink"
         href="./customer/login.pl">Login</a>
    <p>
    <p>New Customers:
     <a class="loginLink" 
         href="./customer/register.pl">Register</a>
    <p>
   </div>
  </div> <!-- end of sideMatter div -->

  <div class="header">
   <div class="inner-header">
    <img src="./images/netting.png" alt=""/>


    <strong>Online-Scoreboard.net</strong>
   </div> <!-- end of inner-header div -->
  </div> <!-- end of header div -->
 </div> <!-- end of container div -->

 <div class="footer">
   © Mile High Software
   <br>
   <A href="http://order.1and1.com/xml/order/Hosting?affiliate_id=126952"
     class="whoNav"
    target="_blank">Hosting provided by 1&1 Web Hosting</A>
 </div> <!-- end of footer div -->

</body>
</html>