<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 strict//en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Welcome to Online-Scoreboard.net!!</title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet"
       type="text/css"
       href="./style/common.css">
 </head>
<body>
 <div class="container">
  <div class="mainContent">
   <div class="wrapper">
    <h1>Basketball Organizer Demo</h1>
   </div>
   <div class="wrapper">
    <p>Setup of a League or Tournament involves determining the format
       of the Competition (either a League or Season with or without
       Playoffs or a Tournament with or without Pool Play) and how the
       Competition will be structured (Divisions, Conferences,
       Age Groups, or whatever.) &nbsp;Additionally, Dates,
       Locations, Groups, and Teams need to be determined.</p>
   </div>
   <div class="wrapper">
    <p>Setup can be done all at one go or can be done in bits
       and pieces. &nbsp;If you leave Setup and come back,
       everything will be as you left it.</p>
   </div>
   <div class="wrapper">
    <p>Once Setup has been done, scheduling becomes a matter of
       choosing from the choices you have made available in
       the Setup. Round-Robin scheduling and Single-Elimination
       brackets setup help is available but you always have the
       ability to schedule what you want on your own. The Admin
       page includes a link to the Scheduler page.</p>
   </div>
   <div class="wrapper">
    <p>Setup for Basketball is a tad different than for other sports.
       For example, Soccer has draws, basketball does not. We'll
       manage these details for you.</p>
   </div>
   <div class="wrapper">
    <p><a href="./admin/perform.pl?compid=bbdemo"
        target="_blank">Demo</a></p>
   </div>
  </div> <!-- end of mainContent div -->

  <div class="sideMatter">
   <div class="navPanel">
    <ul class="nav1">
     <li class="nav level1">
       <a class="nav" href="./index.html">Home</a></li>
     <li class="nav level1">
       <a class="nav" href="./whatWeDo.html">What we Do and How we Help</a></li>
     <li class="nav level1">
       <a class="nav" href="./seeDemo.html">See a Demo</a></li>
     <li class="nav level2">
       <a class="nav current" href="./bbOrgDemo.html">Basketball Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./bbFanDemo.html">Basketball Team/Fan Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soOrgDemo.html">Soccer Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soFanDemo.html">Soccer Team/Fan Demo</a></li>
     <li class="nav level1">
       <a class="nav" href="./ourTeam.html">Our Team</a></li>
     <li class="nav level1">
       <a class="nav" href="./contactUs.html">Contact Us</a></li>
    </ul>
   </div>
   <div class="wrapper">
    <p>Returning Customers:
    <p>
    <p>New Customers:
    <p>
   </div>
  </div> <!-- end of sideMatter div -->

  <div class="header">
   <div class="inner-header">
    <img src="./images/netting.png" alt=""/>


    <strong>Online-Scoreboard.net</strong>
   </div> <!-- end of inner-header div -->
  </div> <!-- end of header div -->
 </div> <!-- end of container div -->

 <div class="footer">
   © Mile High Software
   <br>
   <A href="http://order.1and1.com/xml/order/Hosting?affiliate_id=126952"
     class="whoNav"
    target="_blank">Hosting provided by 1&1 Web Hosting</A>
 </div> <!-- end of footer div -->

</body>
</html>