<h1>Display</h1>
<h2>Which Organization&apos;s Competition?</h2>

<% content_for :info_message do %>
Click on an Organization (below) and you can choose one of that
Organization&apos;s Competitions to show.
<% end %>

<% Organization.all.each do |org| %>
  <%= link_to org.name, choose_display_competition_path(org), class: "sellistlink" %>
  <br/>
<% end %>
