   <div class="wrapper">
    <h1>See a Demo</h1>
   </div>
   <div class="wrapper">
    <p>We have a number of demo pages
      for you to see what Online-Scoreboard.net looks like and how       it operates. You can view the service as a League or
      Tournament Organizer would view it or you can view the service
      as Teams and their Fans would view it.       The Organizer (or Admin) view helps you set up the Competition
      as well as Schedule contests and Record scores.</p>
   </div>
   <div class="wrapper">
    <p>The following are the demo samples we have for each sport:</p>
   </div>
   <div class="wrapper">
    <table border="0" cellspacing="0" cellpadding="3">
     <tbody>
      <tr>
       <td style="text-align: right;">Basketball:</td>
       <td><a href="./bbOrgDemo.html">Organizer Demo</a></td>
       <td><a href="./bbFanDemo.html">Public View Demo</a></td>
      </tr>
      <tr>
       <td style="text-align: right;">Soccer:</td>
       <td><a href="./soOrgDemo.html">Organizer Demo</a></td>
       <td><a href="./soFanDemo.html">Public View Demo</a></td>
      </tr>
     </tbody>
    </table>
   </div>
   <div class="wrapper"><p>&nbsp;</p></div>
