   <div class="wrapper">
    <h1>How we Help Teams and their Fans</h1>
   </div>
   <div class="wrapper">
    <p>Teams and their Fans are kept up-to-date. No more viewing
       PDF copies of outdated versions of spreadsheets with old
       schedules on them. As new schedule information is entered,
       it is available for all to see. Plus, in Bracket play,
       winners and losers of contests are automatically moved
       on to their next contest when the scores are entered.</p>
   </div>
   <div class="wrapper">
    <p>As an added feature, individuals can sign up to receive
       email or text alerts for one or more Teams, keeping
       those people super-duper up-to-date.</p>
   </div>
   <div class="wrapper">
    <p>Now, how cool is that?</p>
   </div>
   <div class="wrapper">
    <p>Fan cool, that&apos;s how cool!</p>
   </div>

<%= link_to "Back", what_we_do_path %>