   <div class="wrapper">
    <h1>How we help League/Tournament Organizers</h1>
   </div>
   <div class="wrapper">
    <p>Online-Scoreboard.net gives your League or Tournament a clean,
       easy-to-use source of information for your Teams and their Fans,
       which improves your image and adds to the appeal of your League or
       Tournament.</p>
   </div>
   <div class="wrapper">
    <p>Scheduling contests is a task that can be shared, helping you
       to get it done in a more timely manner with minimal effort.
       Changes to schedules are made online; there is nothing to upload
       or publish.</p>
   </div>
   <div class="wrapper">
    <p>Recording scores is another task that can be shared or delegated.
       For example, the winning Team or home Team in each contest can be
       responsible for recording the score of the contest. As always,
       what gets entered online will be immediately available for all
       to see. Nothing to upload; nothing to publish.</p>
   </div>
   <div class="wrapper">
    <p>Now, how cool is that!</p>
   </div>
