   
<% content_for :info_message do %>

    <div class="wrapper">
     <h1>Online-Scoreboard.net: Keeping Everyone "In the Hoop"</h1>
     <p>Online-Scoreboard.net is a service to keep League or Tournament
        Schedules, Scores, and Standings&nbsp;<strong>Online</strong>
        and <strong>Up to Date</strong>.
        Learn more about our 
service on the following pages.</p>

     <div class="wrapper"><hr></div>
     
     <h2>View a Competition</h2>
     <p>You can click on one of the Competitions in the box below
     and I&apos;ll show it to you.</p>
     <%= render 'choose_competition' %>
     
     <div class="wrapper"><hr></div>
     
     <h2>It's All About Us</h2>
     <p>Want to know more about us and the service we provide?
        Get detailed information <%= link_to "here", what_we_do_path %>.</p>
     <div class="wrapper"><hr></div>
     <h2>Contact Us</h2>
     <p>Have a question or a suggestion?
        Just want to rant?
        We're looking forward to hearing from you!</p>
     <p>Just click <%= link_to "here", contact_us_path %> to send us a message.</p>
   </div>
   
<% end %>   
   
<% content_for :instructions do %>
You can click on one of the links above to take you to that part of this web site.
<% end %>