
<% content_for :page_title do %>
Wow, this is embarassing...
<% end %>

<% content_for :info_message do %>
Somehow what you just wanted got messed up.
<br/>
If you used a link or bookmark someone else gave you,
then you might double-check it with them.
<br/>
If you were already in the Online-Scoreboard.Net site and <b>WE</b>
messed you up, then let us know.  We want to make sure we fix whatever it 
is that&apos;s broken.
<% end %>

   <div class="wrapper">
   
   <%= link_to 'Continue Back to the Home Page', :welcome_index %>

</div>

 