   <div class="wrapper">
    <h1>Pricing</h1>
    <p>Rather than pay for the software,
       as you would for a package on your own computer,
       or pay a monthly or annual subscription fee, you pay for Online-Scoreboard.net
       by the Competition, regardless of how big or how long the Competition is.
       A Competition is a single event, such as a League season with playoffs
       or a Tournament with pool play.  The season or tournament might have 
       more than one age group or division or whatever but they all start and end
       at about the same time and all have the same basic format.</p>
    <p>For example, if the town of Netsville has a Fall Basketball League
       with an Adult Divison and a Junior Division and each Division is
       made up of several Conferences, each of which has its own
       postseason playoffs, that all would be a single Competition.</p>
    <p>After the Fall League, if Netsville holds a Winter Basketball League,
       that would be a different Competition.</p>
    <p>Competitions cost $25 each.
    <p>For Organizations which have multiple events throughout the year,
       Multi-Competition discounts are available.</p>
    
   </div>
