<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 strict//en">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>Welcome to Online-Scoreboard.net!!</title>
  <link rel="shortcut icon"
       href="./favicon.ico">
  <link rel="stylesheet"
       type="text/css"
       href="./style/common.css">
 </head>
<body>
 <div class="container">
  <div class="mainContent">
   <div class="wrapper">
    <h1>See a Demo</h1>
   </div>
   <div class="wrapper">
    <p>We have a number of demo pages
      for you to see what Online-Scoreboard.net looks like and how       it operates. You can view the service as a League or
      Tournament Organizer would view it or you can view the service
      as Teams and their Fans would view it.       The Organizer (or Admin) view helps you set up the Competition
      as well as Schedule contests and Record scores.</p>
   </div>
   <div class="wrapper">
    <p>The following are the demo samples we have for each sport:</p>
   </div>
   <div class="wrapper">
    <table border="0" cellspacing="0" cellpadding="3">
     <tbody>
      <tr>
       <td style="text-align: right;">Basketball:</td>
       <td><a href="./bbOrgDemo.html">Organizer Demo</a></td>
       <td><a href="./bbFanDemo.html">Public View Demo</a></td>
      </tr>
      <tr>
       <td style="text-align: right;">Soccer:</td>
       <td><a href="./soOrgDemo.html">Organizer Demo</a></td>
       <td><a href="./soFanDemo.html">Public View Demo</a></td>
      </tr>
     </tbody>
    </table>
   </div>
   <div class="wrapper"><p>&nbsp;</p></div>
  </div> <!-- end of mainContent div -->

  <div class="sideMatter">
   <div class="navPanel">
    <ul class="nav1">
     <li class="nav level1">
       <a class="nav" href="./index.html">Home</a></li>
     <li class="nav level1">
       <a class="nav" href="./whatWeDo.html">What we Do and How we Help</a></li>
     <li class="nav level1">
       <a class="nav current" href="./seeDemo.html">See a Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./bbOrgDemo.html">Basketball Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./bbFanDemo.html">Basketball Team/Fan Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soOrgDemo.html">Soccer Organizer Demo</a></li>
     <li class="nav level2">
       <a class="nav" href="./soFanDemo.html">Soccer Team/Fan Demo</a></li>
     <li class="nav level1">
       <a class="nav" href="./ourTeam.html">Our Team</a></li>
     <li class="nav level1">
       <a class="nav" href="./contactUs.html">Contact Us</a></li>
    </ul>
   </div>
   <div class="wrapper">
    <p>Returning Customers:
     <a class="loginLink"
         href="./customer/login.pl">Login</a>
    <p>
    <p>New Customers:
     <a class="loginLink" 
         href="./customer/register.pl">Register</a>
    <p>
   </div>
  </div> <!-- end of sideMatter div -->

  <div class="header">
   <div class="inner-header">
    <img src="./images/netting.png" alt=""/>


    <strong>Online-Scoreboard.net</strong>
   </div> <!-- end of inner-header div -->
  </div> <!-- end of header div -->
 </div> <!-- end of container div -->

 <div class="footer">
   © Mile High Software
   <br>
   <A href="http://order.1and1.com/xml/order/Hosting?affiliate_id=126952"
     class="whoNav"
    target="_blank">Hosting provided by 1&1 Web Hosting</A>
 </div> <!-- end of footer div -->

</body>
</html>