<div class="wrapper">
<h2>What's New?</h2>
Well, I'm glad you asked ...
<br><br>
We are putting the finishing touches on the website and will be
ready to roll it out soon.  For now, you can register as a
customer if you like, it costs nothing.
You can also look at our Introduction. Soon, you will be
able to use the features of the service.  Until then, relax,
be patient.  Maybe grab a snack or something.
<br><br>And remember to check back often!
<hr>
<br>
</div>