<h1>Report Scores for a Competition</h1>
<h2>First, Which Customer&apos;s Competition?</h2>

<% Customer.all.each do |cust| %>
  <%= link_to cust.name, choose_results_competition_path(cust) %>
  <br/>
<% end %>
