<h1>Results#index</h1>
<p>Find me in app/views/results/index.html.erb</p>


<%= button_to 'Rescord',  '/competition/17/results/rescord', method: :put %>
<br/>
<br/>
<br/>
<%= button_to 'Scorect',  '/competition/17/results/scorect', method: :put %>
