<a href="<%= raw(edit_competition_bracket_bracketcontest_path(@competition, @bracket, bracketcontest)) %>" >

<%= render partial: 'bracket_contest' , locals: { bracketcontest: bracketcontest }  %>

</a>
