<p id="notice"><%= notice %></p>

<%= render partial: 'editable_bracket_contest' , locals: { bracketcontest: @bracketcontest }  %>

<%= link_to 'Edit', edit_competition_bracket_bracketcontest_path(@competition, @bracket, @bracketcontest) %> |
<%= link_to 'Back', competition_bracket_bracketcontests_path %>
