<p id="notice"><%= notice %></p>

<%= render partial: 'bracket_contest' , locals: { bracketcontest: @bracketcontest, final: false, editable:false }  %>

<%= link_to 'Ok', bracket_bracketcontests_path %>
