     /* Global styling */

   html, body {height: 100%;
               padding: 0;
               margin: 0;
           text-align: center;}

   body { background-color: white; }

   body { background-color: black; }

  label { font: normal 8pt Verdana, Arial, Helvetica, sans-serif; }

   p, h1, h2, h3, h4, h5, h6 {
             display: block;
       margin-bottom: 0;
          margin-top: 0;
      padding-bottom: 5px;
         padding-top: 5px;
        border-style: none;}

   p, dt, dd, td, th {
            font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
           color: #666;}

     /* ??? */
   .current { font-weight: bold; }


     /* All links in RED */

   a { color: red; }



     /* Selection List Links in BLUE. Bordered Selection List DIV. */

   div.sellist {    border: solid;
              border-width: 1px;
              border-color: blue;
                  overflow: auto;
                    height: 55px;
                     width: 75%;
                      left: 12%;
                  position: relative;
                 background-color: #EEEE88;
               }
   a.sellistlink {   color: blue;
                      font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
           text-decoration: none; }
   a.sellistlink:hover { font-weight: bold;
                    background-color: blue;
                               color: white; }
   ul.sellist { margin: 0;
               padding: 0;
            list-style: none; }




     /* Headings differ from each other only in font size */

   h1, h2, h3, h4, h5, h6 { text-align: center;
                                 color: black;}
   h1 {   font: bold 14px/140% Verdana, Arial, Helvetica, sans-serif;}

   h2 {   font: bold 12px/140% Verdana, Arial, Helvetica, sans-serif;}

   h3 {   font: bold 11px/140% Verdana, Arial, Helvetica, sans-serif;}

   h4 {   font: bold 10px/140% Verdana, Arial, Helvetica, sans-serif;}

   h5 {   font: bold 9px/140% Verdana, Arial, Helvetica, sans-serif;}

   h6 {   font: bold 8px/140% Verdana, Arial, Helvetica, sans-serif;}




     /*  */
   div.outercontainer { width: 1140px;
                  margin: 0 auto;
                position: relative;
                 z-index: 1;}

   div.container { width: 1040px;
                  margin: 0 auto;
              margin-left: 100px;
                position: relative;
                 z-index: 2;}

   div.loginContent { position: relative;
                       top: 3;
                  margin: 3 0;width: 25px;
             background-color: orange;
                 z-index: 4;}



     /*  */

   div.mainContent { width: 840px;
                       height: 100%;
                       top: 0;
                  margin: 0 auto;
                 float: right;
               padding: 160px 50px 50px 50px;
             background-color: white;

                 z-index: 2;}


   div.dividedContent { width: 100%;
                       top: 0;
                  margin: 0 auto;
             background-color: white;

                 z-index: 3;}

   div.leftContent { position: relative;
                 width: 49%;
                       top: 0;
                  margin: 0 auto;
                 float: right;
             background-color: white;

                 z-index: 4;}

   div.rightContent { position: relative;
                 width: 49%;
                       top: 0;
                  margin: 0 auto;
                 float: left;
             background-color: white;
                 z-index: 4;}


     /*  */

   div.waytop { width: 840px;

               height: 20px;
                  top: 0px;
                 left: 100px;
               margin: 0px 0 0px 0;
              padding: 10px 50px 10px 50px;
           text-align: right;
                 font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
     background-color: yellow;
             position: absolute;
              z-index: 5;}

     /*  */

   div.header {	width: 940px;

               height: 120px;
                  top: 20px;
                 left: 100px;
               margin: 0px 0 20px 0;
              padding: 20px 0 0 0;
             position: absolute;
              z-index: 4;}
   div.inner-header {
	width: 940px;
                       height: 120px;
             background-color: #666666;}
   div.inner-header img { width: 940px;
                         height: 120px;
               background-color: #666666;}
   div.inner-header strong {
 left: 2%;
                
    top: 72%;

                 display: block;
                     font:  normal 24px/120% Helvetica, Arial, sans-serif;

                  color: #fcf302;
                 position: absolute;
                   margin: 0;
                  padding: 0;
                  z-index: 3;
}



   div.wrapper {padding: 5px;}
   p.wrapper {padding: 5px;
                color: green;
           text-align: center;
            font-size: 8pt;}
   p.alert   {padding: 5px;
                color: red;
          font-weight: bold;
           text-align: center;
            font-size: 10pt;}

   div.widebody {overflow: auto;}

   div.notTooTall {overflow: auto;
                     height: 520px;}

   div.prettyShort {overflow: auto;
                      height: 300px;}

   div.footer { width: 820px;
                  margin: 0 auto;
                 float: right;
                color: #777;
                color: yellow;
            font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;
               padding: 10px 100px 20px 100px;}

   div.sideMatter { width: 240px;
                   position: absolute;
                       top: 160px;
                      left: -100px;
                    border: solid;
              border-width: 1px;
              border-color: red;
                   display: block;
                  z-index: 9; }

   a.nav { color: black;
           text-decoration: none; }
   a.nav:hover { font-weight: bold; }
   li.nav { border-bottom: dotted white 1px;
            text-align: left;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
            color: black; }
   li.nav1 { border-bottom: dotted white 1px;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
            color: black; }
   ul.nav1 { margin: 0;
            padding: 0;
         list-style: none; }
   li.level1 { padding: 2px 1em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level2 { padding: 2px 1em 2px 2em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level3 { padding: 2px 1em 2px 3em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level4 { padding: 2px 1em 2px 4em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level5 { padding: 2px 1em 2px 5em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   div.navPanel {    width: 240px;
                       top: 200px;
                   padding: 0 0 50px;
                   display: block;
                background: #6F7F7F;}
   div.horizontal {  width: 520px;
                   display: block;
                background: #8F9F9F;}
   li.horizontal { border-right: dotted white 1px;
                    border-left: dotted white 1px;
                        display: inline;
                  padding-right: 1em;
                   padding-left: 1em;
                           font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
                          color: black; }

   div.instructions { width: 240px;
                    padding: 0 0 5px;
                    display: block;
                       font: normal 9pt Verdana, Arial, Helvetica;
                      color: yellow;
                 background: #6F7F7F;}


table.schedule {text-align: center;
                padding: 0 0 5px 5px;
                 margin-left: auto;
                 margin-right: auto;
                 margin-top: 2px;
                 margin-bottom: 2px;}

td.schedule {text-align: center;
             border: 0;
             padding: 0 0 0px 15px;
             margin: 0 0 0px 15px;}

.schedule th {font-weight: bold;
                text-align: center;
             border-bottom: solid black 1px}

th.typeBanner {font-weight: bold;
                text-align: center;
             background-color: black;
             color: yellow}

table.standings {text-align: right;
                 margin-left: auto;
                 margin-right: auto;
                 margin-top: 2px;
                 margin-bottom: 2px;
                 padding: 0 0 5px 5px;}

.standings th {font-weight: bold;
                text-align: center}
.standings td {text-align: right;
                    border: 0;
                   padding: 0 10px 0px 10px;
                    margin: 0 10px 0px 10px;}

th.standings   {text-align: center;}

td.standings   {text-align: right;
                    border: 0;
                   padding: 0 10px 0px 10px;
                    margin: 0 10px 0px 10px;}

td.boldstandings {text-align: right;
                      border: 0;
                 font-weight: bold;
                     padding: 0px 10px 0px 10px;
                      margin: 0px 10px 0px 10px;}


a.notifyLink {  color: red;
              text-align: center;
            font-size: 8pt;}

a.printLink {  color: red;
              text-align: center;
           font-size: 8pt;}

a.hostLink {  color: red;
              text-align: center;
            font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
          font-size: 10pt;}

a.loginLink {  color: red;
          text-align: center;
           font-size: 8pt;}

table.spacer {width: 10em;}

table.bracket {text-align: right;
                font-size: 10pt;
             font-variant: small-caps;
                   border: 0;
                  padding: 0 0 0px 0px;
margin-left: 0;
margin-right: 0;
  width: 100%;
                 background-color: #eeeeee;}
table.brackett {text-align: right;
                font-size: 10pt;
             font-variant: small-caps;
                   border: 0;
                  padding: 0 0 0px 0px;
margin-left: auto;
margin-right: auto;
                 background-color: #eeeeee;}

td.bracket  {float: right;
             text-align: right;
             border-top: 1px solid black;
           border-right: 1px solid black;
          border-bottom: 1px solid black;
                 border: 0;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}

td.predecessor {text-align: right;
                   padding: 0 0 0px 0px;
                    margin: 0 0 0px 0px;}

td.bracket {vertical-align: middle;
                   padding: 0 0 0px 0px;
                    margin: 0 0 0px 0px;}

td.winner {border-bottom: 1px solid black;
                 padding: 0 0 0px 0px;
                  margin: 0 0 0px 0px;}

td.buml {border-top: 1px solid black;
       border-right: 1px solid black;
     vertical-align: bottom;
         text-align: right; 
             height: 25%;
          font-size: 8pt;
            padding: 0 0 0px 0px;
             margin: 0 0 0px 0px;}

td.blml {border-bottom: 1px solid black;
          border-right: 1px solid black;
        vertical-align: top;
            text-align: right;
             font-size: 8pt;
                height: 25%;
               padding: 0 0 0px 0px;
                margin: 0 0 0px 0px;}

td.hometeam {text-align: right;
         width: 12em;
         vertical-align: bottom;
                 height: 25%;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}

td.awayteam {text-align: right;
         vertical-align: top; 
                 height: 25%;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}






div.bracket {text-align: right;
              font-size: 8pt;
          
  font-family: verdana, arial, helvetica, sans-serif;
           font-variant: small-caps;
                 border: 0;
                padding: 0 0 0px 0px;
            margin-left: 0;
           margin-right: 0;
                  width: 100%;
       background-color: #BBBBBB;}





    div.btop {
	position: relative;
	height: 25%;
	width: 100%;
	text-align: left;
	}
    div.btopcontents {
	position: absolute;
	bottom: 0px;
	height: 12px;
	width: 100%;
	text-align: left;
	}
    span.btopcontents {
	dislay: table-cell;
	position: absolute;
        left: 0px;
	bottom: 0px;
	width: 100%;
	text-align: left;
        vertical-align: bottom;
	}
  div.bmid {
	position: static;
	height: 50%;
	width:100%;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	}
  span.bmid {
	height: 100%;
	width: 100%;
	text-align: center;
        vertical-align: bottom;
	}
    div.bbot{
	position: static;
	height: 25%;
	width: 100%;
	text-align: left;
	}



  div.r1 {position: relative;
	         width: 200px;
	        height: 100px;
         padding-right: 1px;
    }

  div.r1pair {position: relative;
	         width: 200px;
	        height: 100px;
         padding-right: 1px;
    }



  div.r2 {position: relative;
	         width: 400px;
	        height: 200px;
         padding-right: 1px;
    }

  div.r2h {position: absolute;
	         width: 200px;
	        height: 100px;
	        left: 0px;
	        top: 0px;
    }
  div.r2a {position: absolute;
	         width: 200px;
	        height: 100px;
	        left: 0px;
	        top: 101px;
}
  div.r2pair {position: relative;
	        width: 200px;
	        height: 200px;
	        left: 201px;
	        top: 0px;
         padding-right: 1px;
    }



  div.r3 {position: relative;
	         width: 600px;
	        height: 400px;
         padding-right: 1px;
    }

  div.r3h {position: absolute;
	         width: 400px;
	        height: 200px;
	        left: 0px;
	        top: 0px;
         padding-right: 1px;
    }
  div.r3a {position: absolute;
	         width: 400px;
	        height: 200px;
	        left: 0px;
	        top: 200px;
         padding-right: 1px;
    }
  div.r3pair {position: relative;
	        width: 200px;
	        height: 400px;
	        left: 402px;
	        top: 0px;
         padding-right: 1px;
    }



  div.r4 {position: relative;
	         width: 800px;
	        height: 800px;
         padding-right: 1px;
    }

  div.r4h {position: absolute;
	         width: 600px;
	        height: 400px;
	        left: 0px;
	        top: 0px;
         padding-right: 1px;
    }
  div.r4a {position: absolute;
	         width: 600px;
	        height: 400px;
	        left: 0px;
	        top: 400px;
         padding-right: 1px;
    }
  div.r4pair {position: relative;
	        width: 200px;
	        height: 800px;
	        left: 603px;
	        top: 0px;
         padding-right: 1px;
    }



  div.r5 {position: relative;
	         width: 1000px;
	        height: 1600px;
         padding-right: 1px;
    }

  div.r5h {position: absolute;
	         width: 800px;
	        height: 800px;
	        left: 0px;
	        top: 0px;
         padding-right: 1px;
    }
  div.r5a {position: absolute;
	         width: 800px;
	        height: 800px;
	        left: 0px;
	        top: 800px;
         padding-right: 1px;
    }
  div.r5pair {position: relative;
	        width: 200px;
	        height: 1600px;
	        left: 803px;
	        top: 0px;
         padding-right: 1px;
    }




  div.rw2 {position: relative;
	          left: -200px;
	         width: 800px;
	        height: 200px;
         padding-right: 1px;
    }

  div.rw2h {position: absolute;
	         width: 400px;
	        height: 100px;
	        left: 0px;
	        top: 0px;
    }
  div.rw2a {position: absolute;
	         width: 400px;
	        height: 100px;
	        left: 0px;
	        top: 101px;
}
  div.rw2pair {position: relative;
	        width: 400px;
	        height: 200px;
	        left: 401px;
	        top: 0px;
         padding-right: 1px;
    }

