   html, body {height: 100%;
               padding: 0;
               margin: 0;
           text-align: center;}
   body { background-color: black; }
   p, h1, h2, h3, h4, h5, h6 {
             display: block;
       margin-bottom: 0;
          margin-top: 0;
      padding-bottom: 5px;
         padding-top: 5px;
        border-style: none;}
   .current { font-weight: bold; }
   a { color: red; }
   p, dt, dd, td, th {
            font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
           color: #666;}
   h1 {   font: bold 14px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   h2 {   font: bold 12px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   h3 {   font: bold 11px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   h4 {   font: bold 10px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   h5 {   font: bold 9px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   h6 {   font: bold 8px/140% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
         color: black;}
   div.container { width: 940px;
                  margin: 0 auto;
                position: relative;
                 z-index: 2;}
   div.mainContent { width: 520px;
                       height: 100%;
                       top: 0;
                  margin: 0 auto;
                 float: right;
               padding: 200px 100px 50px 100px;
             background-color: white;

                 z-index: 2;}
   div.dividedContent { width: 100%;
                       top: 0;
                  margin: 0 auto;
             background-color: white;

                 z-index: 3;}
   div.leftContent { position: relative;
                 width: 49%;
                       top: 0;
                  margin: 0 auto;
                 float: right;
             background-color: white;

                 z-index: 4;}
   div.rightContent { position: relative;
                 width: 49%;
                       top: 0;
                  margin: 0 auto;
                 float: left;
             background-color: white;
                 z-index: 4;}
   div.header {	width: 940px;

               height: 120px;
                  top: 40;
               margin: 20px 0;
              padding: 20px 0;
             position: absolute;
              z-index: 4;}
   div.inner-header {
	width: 940px;
                       height: 120px;
             background-color: #666666;}
   div.inner-header img { width: 940px;
                         height: 120px;
               background-color: #666666;}
   div.inner-header strong {
 left: 2%;
                
    top: 72%;

                 display: block;
                     font:  normal 24px/120% Helvetica, Arial, sans-serif;

                  color: #fcf302;
                 position: absolute;
                   margin: 0;
                  padding: 0;
                  z-index: 3;
}



   div.wrapper {padding: 5px;}
   p.wrapper {padding: 5px;
                color: green;
           text-align: center;
            font-size: 8pt;}

   div.widebody {overflow: auto;}

   div.notTooTall {overflow: auto;
                     height: 520px;}

   div.prettyShort {overflow: auto;
                      height: 300px;}

   div.footer { width: 520px;
                  margin: 0 auto;
                 float: right;
                color: #777;
               padding: 10px 100px 20px 100px;}

   div.sideMatter { width: 240px;
                   position: absolute;
                       top: 200px;
                    border: solid;
              border-width: 1px;
              border-color: red;
                   display: block; }

   a.nav { color: black;
           text-decoration: none; }
   a.nav:hover { font-weight: bold; }
   li.nav { border-bottom: dotted white 1px;
            text-align: left;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
            color: black; }
   li.nav1 { border-bottom: dotted white 1px;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
            color: black; }
   ul.nav1 { margin: 0;
            padding: 0;
         list-style: none; }
   li.level1 { padding: 2px 1em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level2 { padding: 2px 1em 2px 2em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level3 { padding: 2px 1em 2px 3em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level4 { padding: 2px 1em 2px 4em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   li.level5 { padding: 2px 1em 2px 5em;
             font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;}
   div.navPanel {    width: 240px;
                       top: 200px;
                   padding: 0 0 50px;
                   display: block;
                background: #6F7F7F;}
   div.horizontal {  width: 520px;
                   display: block;
                background: #8F9F9F;}
   li.horizontal { border-right: dotted white 1px;
                    border-left: dotted white 1px;
                        display: inline;
                  padding-right: 1em;
                   padding-left: 1em;
                           font: normal 11px/140% Verdana, Arial, Helvetica, sans-serif;
                          color: black; }

   div.instructions { width: 240px;
                    padding: 0 0 5px;
                    display: block;
                       font: normal 9pt Verdana, Arial, Helvetica;
                      color: yellow;
                 background: #6F7F7F;}




table.schedule {text-align: center;
                padding: 0 0 5px 5px;
                 margin-left: auto;
                 margin-right: auto;
                 margin-top: 2px;
                 margin-bottom: 2px;}

td.schedule {text-align: center;
             border: 0;
             padding: 0 0 0px 15px;
             margin: 0 0 0px 15px;}

.schedule th {font-weight: bold;
                text-align: center;
             border-bottom: solid black 1px}

table.standings {text-align: right;
                 margin-left: auto;
                 margin-right: auto;
                 margin-top: 2px;
                 margin-bottom: 2px;
                 padding: 0 0 5px 5px;}

.standings th {font-weight: bold;
                text-align: center}

th.standings   {text-align: center;}

td.standings   {text-align: right;
                    border: 0;
                   padding: 0 10px 0px 10px;
                    margin: 0 10px 0px 10px;}

td.boldstandings {text-align: right;
                      border: 0;
                 font-weight: bold;
                     padding: 0px 10px 0px 10px;
                      margin: 0px 10px 0px 10px;}


a.notifyLink {  color: red;
              text-align: center;
            font-size: 8pt;}

a.printLink {  color: red;
              text-align: center;
           font-size: 8pt;}

a.hostLink {  color: red;
              text-align: center;
          font-size: 8pt;}

a.loginLink {  color: red;
          text-align: center;
           font-size: 8pt;}

table.spacer {width: 10em;}

table.bracket {text-align: right;
                font-size: 10pt;
             font-variant: small-caps;
                   border: 0;
                  padding: 0 0 0px 0px;
margin-left: auto;
margin-right: auto;
                 background-color: #eeeeee;}

td.bracket  {float: right;
             text-align: right;
             border-top: 1px solid black;
           border-right: 1px solid black;
          border-bottom: 1px solid black;
                 border: 0;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}

td.predecessor {text-align: right;
                   padding: 0 0 0px 0px;
                    margin: 0 0 0px 0px;}

td.bracket {vertical-align: middle;
                   padding: 0 0 0px 0px;
                    margin: 0 0 0px 0px;}

td.winner {border-bottom: 1px solid black;
                 padding: 0 0 0px 0px;
                  margin: 0 0 0px 0px;}

td.buml {border-top: 1px solid black;
       border-right: 1px solid black;
     vertical-align: bottom;
         text-align: right; 
             height: 25%;
          font-size: 8pt;
            padding: 0 0 0px 0px;
             margin: 0 0 0px 0px;}

td.blml {border-bottom: 1px solid black;
          border-right: 1px solid black;
        vertical-align: top;
            text-align: right;
             font-size: 8pt;
                height: 25%;
               padding: 0 0 0px 0px;
                margin: 0 0 0px 0px;}

td.hometeam {text-align: right;
         width: 12em;
         vertical-align: bottom;
                 height: 25%;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}

td.awayteam {text-align: right;
         vertical-align: top; 
                 height: 25%;
                padding: 0 0 0px 0px;
                 margin: 0 0 0px 0px;}
