<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<%= link_to 'Back', organization_path %>
